.umow-rozmowe-strona
{
    width: 100%;
    height: auto;
    background-color: #e6e6e6;
    padding-top: 150px;
    font-family: 'Libre Baskerville', serif;
    padding-bottom: 140px;
}



.strona-gora
{
    width: 100%;
    height: 20%;
    text-align: center;
}


.strona-dol
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}


.strona-gora-a
{
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.strona-gora-b
{
    font-size: 45px;
}



.strona-dol-lewo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dol-lewo-trim
{
    padding-top: 8%;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: relative;
}


.strona-dol-lewo-div
{
    text-align: right;
    width: 60%;
}


.strona-dol-lewo-div-tytul
{
    font-size: 34px;
}

.strona-dol-lewo-div-opis
{
    font-size: 20px;
}


.strzalka
{
    position: absolute;
    top: 50px;
    right: -130px;
}



.strona-dol-prawo
{
    width: 50%;
}


.formularz2
{
    margin-top: 15%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    gap: 45px;
}


.formularz2-input-div
{
    display: flex;
    flex-direction: column;
}

.formularz2-input
{
    width: 60%;
    height: 55px;
    border: solid 2px black;
    background: none;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 12px;
}


.formularz2-label
{
    font-size: 26px;
}


.checkbox-wrapper {
    display: flex;
    align-items: start;
    gap: 10px;
    width: 61%;
    margin-left: 5px;
}

.checkbox {
    margin-left: 0;
    transform: scale(1.4);
    background-color: grey;
}

.checkboxOpis {
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 84, 84);
    line-height: 1.5;
    max-width: 60%;
    word-wrap: break-word;
    display: inline-block;
}


.formularz2-button
{
    background-color: #ef5350;
    width: 35%;
    height: 70px;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}



.lub-zadzwon
{
    font-size: 30px;
}


.form2-tel
{
    font-size: 40px;
    color: red;
    text-decoration: underline;
    margin: 0px;
}

.n
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (max-width: 1400px) {
    .dol-lewo-trim
    {
        width: 70%;
    }

    .strzalka
    {
        right: -100px;
        top: 10px
    }

}



@media (max-width: 1260px) {
    .dol-lewo-trim
    {
        width: 80%;
    }

    .strzalka
    {
        transform: scale(0.8);
        right: -80px;
        top: 10px
    }


    .n
    {
        transform: scale(0.8);
    }

    .checkboxOpis {
        max-width: 80%;
    }
}


@media (max-width: 1050px) {
    .dol-lewo-trim
    {
        width: 90%;
    }

    .strzalka
    {
        transform: scale(0.7);
        right: -60px;
        top: 0px
    }


    .n
    {
        transform: scale(0.8);
    }

    .checkboxOpis {
        max-width: 80%;
    }

    .formularz2-button
    {
        width: 55%;
    }
}





@media (max-width: 900px) {
    .strona-dol
    {
        flex-direction: column;
    }
    

    .strona-dol-lewo
    {
    width: 90%;
    }


    .strona-dol-prawo
    {
        width: 100%;
        margin-top: 100px;
    }


    .strzalka {
        right: 10;
        top: 680px;
        transform: scale(0.9);
        transform: rotate(90deg);
    }

    .formularz2
    {
        align-items: center;
        justify-content: center;
    }


    .formularz2-input-div
    {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .formularz2-label
    {
        width: 62%;
    }


    .strona-gora
    {
        transform: scale(0.9);
    }


    .n
    {
        text-align: center;
    }


    .strona-dol-lewo-div
    {
        text-align: left;
    }

}



@media (max-width: 450px) {
    
    .strona-gora
    {
        transform: scale(0.75);
    }

}


@media (max-width: 640px) {
    
    .strzalka {
        right: 10;
        top: 730px;
    }

}


@media (max-width: 550px) {
    
    .strzalka {
        right: 10;
        top: 820px;
    }

}

@media (max-width: 500px) {
    
    .strzalka {
        right: -100px;
        top: 690px;
    }


    .strona-dol-lewo-div
    {
        width: 80%;
    }


    .formularz2-button
    {
        font-size: 24px;
    }

}



@media (max-width: 448px) {
    
    .strzalka {
        right: -100px;
        top: 760px;
    }


    .formularz2-button
    {
        font-size: 20px;
    }


}


@media (max-width: 420px) {
    
    .strzalka {
        right: -110px;
        top: 800px;
    }


}


@media (max-width: 350px) {
    

    .strona-dol-lewo-div-tytul
    {
        font-size: 30px;
        width: 100%;
    }

    .strzalka {
        display: none;
    }

    .formularz2{
       margin-top: 0px; 
       padding-top: 0px;
    }

    .dol-lewo-trim
    {
        width: 100%;
    }

    .strona-dol-lewo-div
    {
        width: 90%;
    }

    .formularz2-input
    {
        width: 90%;
    }

    .formularz2-label
    {
        width: 95%;
    }



    .checkbox-wrapper {
        width: 92%;
    }

    .checkboxOpis
    {
        transform: scale(0.9);
    }


    .lub-zadzwon
    {
        font-size: 24px;
    }


    .form2-tel
    {
        font-size: 32px;
    }

}


@media (max-width: 370px) {
    
    .formularz2-button
    {
        font-size: 14px;
        width: 45%;
    }



}




